body {
  margin: 0 auto;
  padding: 20px;
  font-family: 'Playfair Display', serif;
  background-image: url('http://clipart-library.com/images/zTX5BoAKc.jpg');
  background-size: cover;
}

#gridContainer {
  padding-bottom: 10px;
}
h1 {
  text-align: center;
  font-size: 60px;
}
h2 {
  font-size: 40px;
}
table {
  background-color: #4284e5;
  border-spacing: 0px;
  margin: 0 auto;
}
td {
  border: 1px solid#093552;
  width: 10px;
  height: 10px;
}
td.dead {
  background-color: transparent;
}
td.live {
  background-color: white;
}
.resetButtonClass {
  margin: 5px;
  display: flex;
  align-content: flex-end;
}
.navbar {
  position: absolute;
  right: 5px;
  top: 2px;
}
.nblinks-li {
  display: inline-block;
  list-style-type: none;
}
a {
  text-decoration: none;
  color: black;
}
.a-navbar {
  text-decoration: none;
  margin: 5px 10px;
  font-size: 2em30px;
  color: black;
  font-weight: 900;
}
button {
  font-family: 'Playfair Display', serif;
  border-radius: 20px;
  border-color: #0fb3e6;
  width: 120px;
  height: 35px;
  font-size: 20px;
  font-weight: 800;
  margin: 5px 10px;
  background-color: #fff;
}
.rules-img {
  float: left;
}
footer {
  clear: both;
  text-align: center;
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 2.5rem;
}
.rules {
  line-height: 2em;
  font-weight: 800;
  font-size: 43px;
}

.controls {
  text-align: center;
}

label {
  font-size: 1.8em;
  color: black;
  font-weight: 900;
}
input {
  width: 100px;
  height: 30px;
  font-weight: 900;
  font-size: 25px;
  border-radius: 5px;
}
p {
  font-weight: 800;
  font-size: 25px;
}
li {
  font-weight: 800;
  font-size: 25px;
}
.aboutsection {
  border: 3px solid #fff;
  margin: 10px;
  padding: 0 10px;
}
.references {
  text-align: center;
}
.p-references {
  margin-bottom: 50px;
}
.currentgen {
  font-weight: 800;
  font-size: 25px;
}
