body {
  padding: 20px;
  background-color: #fff;
  font-family: 'Playfair Display', serif;
}
#gridContainer {
  padding-bottom: 10px;
}
table {
  background-color: #0fb3e6;
  border-spacing: 0px;
  margin: 0 auto;
}
td {
  /* border: 1px solid#093552; */
  width: 10px;
  height: 10px;
}
td.dead {
  background-color: transparent;
}
td.live {
  background-color: white;
}
.resetButtonClass {
  margin: 5px;
  display: flex;
  align-content: flex-end;
}
li {
  list-style: none;
  display: inline-block;
}
a {
  text-decoration: none;
}
button {
  font-family: 'Playfair Display', serif;
  border-radius: 20px;
  width: 100px;
  height: 30px;
  font-size: 15px;
}
