body {
  height: 100%;
  width: 100%;
  margin-top: 10px;
  margin: 0 auto;
  padding: 20px;
  font-family: 'Playfair Display', serif;
}

.wrapper {
  min-height: 100%;
}

#gridContainer {
  padding-bottom: 10px;
  width: 90%;
}

.title {
  display: inline-block;
}

h1 {
  font-size: 3rem;
}

.text-soft {
  color: rgb(122, 121, 112);
}

table {
  background-color: #4caee7;
  border-spacing: 0px;
  margin: 0 auto;
}

td {
  border: 1px solid#093552;
  width: 10px;
  height: 10px;
}

td.dead {
  background-color: transparent;
}

td.live {
  background-color: white;
}

.resetButtonClass {
  margin: 5px;
  display: flex;
  align-content: flex-end;
}

.main-container {
  display: flex;
  flex-direction: column;
  justify-items: center;
}

button {
  font-family: 'Playfair Display', serif;
  border-radius: 20px;
  border-color: #4caee7;
  width: 10rem;
  height: 35px;
  font-size: 20px;
  font-weight: 800;
  margin: 0.7%;
  background-color: rgb(245, 244, 239);
}
button:hover {
  border-width: 3px;
}

.controls {
  text-align: center;
  width: 90%;
}

label {
  font-size: 1.8em;
  color: black;
  font-weight: 900;
}

input {
  width: 8rem;
  height: 30px;
  font-weight: 900;
  font-size: 25px;
  border-radius: 5px;
}
p {
  font-weight: 800;
  font-size: 1.5em;
}

.currentgen {
  font-weight: 800;
  font-size: 25px;
}

.section-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.section-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.gridContainer {
  width: 40%;
}

@media only screen and (min-device-width: 320px) and (max-device-width: 480px) and (-webkit-min-device-pixel-ratio: 2) {
  h1 {
    font-size: 2rem;
  }

  .main-container {
    margin: 2px;
  }
  #gridheight {
    font-size: 10px;
  }
  #gridwidth {
    font-size: 10px;
  }
  .controls {
    /* text-align: center; */
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}
